* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}
body {
    /* width: 1200px; */
    font-family: "Mulish", sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
nav .linebar{
    display: none;
}
.logo {
    font-size: 50px;
    font-weight: 800;
}
.logo span {
    color: tomato;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 18px;
    font-weight: 400;
}
.nav-link li {
    list-style: none;
}
.nav-link li a {
    text-decoration: none;
    color: black;
}
.nav-link li a:hover {
    cursor: pointer;
    padding: 5px 10px;
    background-color: aquamarine;
    border-radius: 10px;
}
/* banner style */
.banner {
    background-image: url(assests/Images/banner.png);
    background-position: center center;

    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
    height: 100vh;

    padding-top: 120px;

    flex-direction: column;
}
.content {
    /* margin-top: 150px; */
    width: 900px;
    padding: 10px 0px;
    margin: auto;
    text-align: center;
    color: white;
    padding: 50px;
}
.content h1 {
    padding: 10px 0;
}
.booking-form {
    display: flex;
    background-color: hsla(0, 3%, 81%, 0.925);
    /* opacity: 60%; */
    width: 90%;
    margin: auto;
    padding: 20px 0;
    margin-top: 80px;
}
.field input {
    border: none;
    outline: none;
    /* padding: 10px ; */
    border-radius: 10px;
    font-size: 18px;
}
.field-btn button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ff5400;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}
.field {
    width: 330px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}
/* tours section style  */
.tours-container {
    display: flex;
    gap: 20px;
    width: 1200px;
    margin: auto;
}
.tours-content {
    line-height: 30px;
    /* flex: 1; */
    /* width: 550px; */
    margin: auto;
    padding: 10px;
}
.tours-image {
    padding: 10px;
    /* border: 2px solid; */
    flex: 1;
    width: 50%;
    margin: auto;
}
.tours-image img {
    /* width: 100%; */
}
.tours-content h3 {
    font-size: 30px;
    padding: 20px 0px;
}
.tours-container p {
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}
.tours-container li {
    font-size: 18px;
    font-weight: 400;
    padding-left: 25px;
}
.tours-content button {
    padding: 10px 20px;
    background-color: #ff5400;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
/* destination section  */
.destination {
    width: 1200px;
    margin: auto;
    /* margin-top: 20px; */
}
.destination .destination-info {
    width: 800px;
    text-align: center;
    padding: 20px 0;
}
.row-1 {
    display: flex;
    margin-bottom: 20px;
}
.row-1 .picture img {
    width: 100%;
}
.row-2 {
    display: flex;
    margin-bottom: 20px;
}
.row-3 {
    display: flex;
    margin-bottom: 20px;
}
.picture {
    position: relative;
}
.name {
    position: absolute;
    color: white;
    /* background-color: #ff5400; */
    font-size: 30px;
    margin-top: 25%;
    margin-left: 40%;
}
/* choose section  */
.choose-container {
    margin: 30px 0;
}
.choose-content {
    text-align: center;
    width: 800px;
    padding: 20px 0;
}
.choose-card {
    display: flex;
    width: 1200px;
    gap: 10px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}
.card-1 {
    width: 500px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
    /* padding: 10px; */
    padding: 20px 10px;
}
.card-2 {
    width: 500px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
    /* padding: 10px; */
    padding: 20px 10px;
}
.card-3 {
    width: 500px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.2);
    background: rgba(233, 68, 68, 0.05);
    padding: 20px 10px;
}
/* news letter section */
.news-letter {
    width: 1200px;
    display: flex;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}
.subscribe {
    padding: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: 420px;
    /* background: purple; */
    border-radius: 80px 0 80px 0;
}
.subscribe h1 {
    font-size: 36px;
    text-align: center;
}
.subscribe .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: rgb(245, 241, 241);
    margin: 30px 0;
    border-radius: 10px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: white;
    font-size: 20px;
}
.input-box i {
    position: absolute;
    right: 20px;
    transform: translateY(50%);
    font-size: 20px;
}
.subscribe .remember-forget {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 15px 0 15px;
}
.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forget a {
    color: #fff;
    text-decoration: none;
}
.remember-forget a:hover {
    text-decoration: underline;
}
.subscribe .btn {
    width: 100%;
    height: 45px;
    background: salmon;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, alph.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.discount-image {
    position: relative;
}
.discount {
    width: 300px;
    display: block;
    position: absolute;
    margin-top: -150px;
    margin-left: 350px;
    transform: rotate(-25deg);
}
.discount p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    background-color: #ff5400;
    text-align: center;
}
*/ .discount p span {
    font-size: 30px;
    font-weight: 600;
}
/* footer section  */
footer {
    width: 1200px;
    text-align: center;
    margin-top: 20px;
}
.footer-logo {
    width: 150px;
    display: flex;
    text-align: center;
    gap: 20px;
}
.footer-logo p {
    padding: 20px 0px;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.footer-logo p span {
    color: #ff5400;
}
.footer-logo div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.social {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.social img {
    width: 30px;
}
footer hr{
    margin: 20px ;
}
footer h6{
    margin-bottom: 
    20px;
}